$font-family: 'Verdana';

$font-xs: 1.4rem;
$font-sm: 1.6rem;
$font-md: 1.8rem;
$font-lg: 2.2rem;
$font-xlg: 2.6rem;

$spacer-xs: 4px;
$spacer-sm: 8px;
$spacer-md: 12px;
$spacer-lg: 17px;
$spacer-xlg: 28px;
